.container {
    // padding-left: 50px;
    // padding-right: 50px;
    
    .breadcrumb{
        padding: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-decoration: none;
        cursor: pointer;
    }
}