.gridViewProducts {
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.searchBtn {
  margin-left: 60px !important;
}
.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}