.listViewProducts {
  display: flex;
  flex-direction: column;
}

.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}