.ViewProductDetails {
  margin: auto 15px;
  padding: 20px;

  .productDetailsWrapper {
    border: 1px solid grey;
    padding: 20px;
    margin: -10px 20px 20px 20px ;
    position: relative;

    .watchListAlert {
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
    }

    .productMain {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .productImage {
        max-width: 300px;
        margin-right: 20px;

        padding-top: 10px;
        height: 80%;
      }

      .productDetails {
        flex: 1;

        .productTitle {
          margin-bottom: 10px;
          font-size: 18px;
          text-align: left;
        }

        .productPriceTitle {
          text-align: left;
          font-size: 16px;
          font-weight: bold;
        }

        .productPrice {
          font-size: 14px;
          font-weight: bold;
          color: #4cae4c;
          margin-left: 20px;
        }

        .productInfo {
          display: flex;
          width: 100%;

          .productInfoLeft {
            display: flex;
            flex-direction: column;
            width: 50%;

            .quickBidBtn {
              margin: 10px 0;
              background-color: #c24242;
              height: 30px;
              text-transform: capitalize;
            }

            .bidSection {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 10px;

              .bidInput {
                margin-right: 10px;
              }

              .submitBidBtn {
                background-color: #3ca93a;
                height: 30px;
                text-transform: capitalize;
              }
            }

            .orText {
              display: flex;
              align-items: center;
              margin: 10px 0;
            }

            .buyNowBtn {
              margin-bottom: 10px;
              background-color: #ffffff;
              border: 1px solid grey;
              color: #1768ac;
              font-size: 16px;
              text-transform: capitalize;
              font-weight: 600;
            }

            .makeOfferButton {
              margin-bottom: 10px;
              background-color: #ffffff;
              border: 1px solid grey;
              color: #222222;
              font-size: 16px;
              text-transform: capitalize;
              font-weight: normal;
            }

            .remainingTime {
              margin-top: 10px;
            }
          }

          .productInfoRight {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
            width: 50%;
            margin-left: 25px;

            .watchListBox {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 10px;
              width: 85%;
              border-radius: 4px;
              margin-bottom: 10px;
              border: 1px solid rgb(206, 206, 206);
              margin-top: 40px;

              .addWatchListBtn {
                margin-top: 10px;
                text-transform: capitalize;
                height: 30px;
              }
            }

            .highBidderBox {
              padding: 10px;
              width: 75%;
              border-radius: 4px;
              margin-bottom: 10px;
              border: 1px solid rgb(206, 206, 206);
              margin-top: 15px;
              margin-left: 70px;

              .addWatchListBtn {
                margin-top: 10px;
              }

              .highBidder {
                display: flex;
                justify-content: flex-start;
                color: #272b30 !important;
                font-size: 16px;
              }

              .highBidderSecond {
                display: flex;
                justify-content: flex-end;
                padding-top: 0px;
              }
            }
          }
        }
      }
    }

    .productExtraInfo {
      display: flex;
      width: 93%;
      background-color: rgb(251 247 226);
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
    }
  }

  .modalBid {
    background-color: red;

    .modalBidBox {
      background-color: red;

      .modalButtonContainer {
        display: flex;
        justify-content: space-between;

        .modalButtonSuccess {
          background-color: #3ca93a !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .productMain {
    flex-direction: column;

    .product-image {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    .productInfo {
      flex-direction: column;
    }
    .productInfoLeft .productInfoRight {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .or-text {
      flex-direction: column;
      text-align: center;

      span {
        margin: 10px 0;
      }

      hr {
        display: none;
      }
    }
  }
}
.box {
  padding-left: 55px;
  padding-top: 10px;
  ;
}