.side-menu {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}
.side-menu.open {
  transform: translateX(0);
}
.menu-toggle {
  position: absolute;
  top: 20px;
  right: -50px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  transition: right 0.3s ease;
}

@media (min-width: 768px) {
  .side-menu {
    transform: translateX(0);
  }
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .side-menu {
    width: 200px;
  }
  .menu-toggle {
    right: -45px;
  }
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 130vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.sidebarxCategories {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  z-index: 1;

  .sidebarCategoriesContent {
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(230, 230, 230);
    height: 30px;
    text-align: center;
    cursor: pointer;
  }

  .scrollable {
    max-height: calc(65vh - 40px);
    overflow-y: auto;
    .nested {
      padding-left: 30px;
    }
  }
}

.sidebarxRegions {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;

  .sidebarRegionsContent {
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(230, 230, 230);
    height: 30px;
    text-align: center;
  }

  .scrollable {
    max-height: calc(65vh - 40px);
    overflow-y: auto;
    .nested {
      padding-left: 30px;
    }
  }
}
