.box2 {
    padding-left: 57px;
    padding-top: 10px;
}
.title {
    color:black;
    background-color: #dfdfdf !important;
    font-size:16px !important;
    text-align: left !important;
}
.subTitle{
    color:black !important;
    text-align: left !important;
    font-size: small;
}
.footer{
    color:#828282 !important;
    text-align: left !important;
    margin:70px 0px 0px 50px !important
}
.mainContainer{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 10px;

}