.box2 {
  padding-left: 57px;
  padding-top: 10px;
}
.footer{
  color:#828282 !important;
  text-align: left !important;
  margin:10px 0px 20px 55px !important
}

.aboutUs {
  padding: 0px;
  margin-left:55px;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .content {
      flex: 1;
      padding-right: 20px;
      text-align: justify;
    }

    .image {
      flex: 1;

      img {
        max-width: 90%;
        height: auto;
        margin-top: 20px;
      }
    }
  }

  .centerHeading {
    text-align: center;
    margin: 40px 0;
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .feature {
      flex: 1 1 30%;
      text-align: center;
      margin: 10px;

      img {
        max-width: 100%;
        height: auto;
      }

      h3 {
        margin-top: 10px;
      }

      p {
        margin-top: 5px;
      }
    }
  }
}
