.title{
    color:black;
    background-color: #dfdfdf !important;
    font-weight: bold !important;
    font-size:18px !important;
    text-align: left !important;
}
.subTitle{
    color:black !important;
    text-align: left !important;
    font-size: 14px !important;
}
.footer{
    color:#828282 !important;
    text-align: left !important;
    margin:10px 0px 0px 30px !important
}
.mainContainer{
    padding-left: 0px !important;
    padding-right: 0px !important;

}