.controlPanelSelect {
  margin-left: 10px;
  min-width: 120px;
  .MuiSelect-select {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .MuiMenuItem-root {
    font-size: 14px;
  }
}

.controlPanelSelect {
  margin-left: 10px;
  min-width: 120px;
}
