.ViewProductDetails {
    margin: auto 15px;
    padding: 20px;

    .productDetailsWrapper {
        border: 1px solid grey;
        padding: 20px;
        margin: 20px 0;
        position: relative;

        .watchListAlert {
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
        }

        .productMain {

            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .productImage {
                max-width: 300px;
                margin-right: 20px;
                
                padding-top: 10px;
                height: 80%;
            }

            .productDetails {
                flex: 1;

                .productTitle {
                    margin-bottom: 10px;
                    font-size: 18px;
                    text-align: left;
                }

                .productPriceTitle {
                    text-align: left;
                    font-size: 16px;
                    font-weight: bold;
                }

                .productPrice {
                    font-size: 14px;
                    font-weight: bold;
                    color: #4CAE4C;
                    margin-left: 20px;
                }

                .productInfo {
                    display: flex;
                    // justify-content: space-between;
                    width: 100%;

                    .productInfoLeft {
                        // flex: 1;
                        display: flex;
                        flex-direction: column;
                        width: 50%;

                        .quickBidBtn {
                            margin: 10px 0;
                            background-color: #C24242;
                            height: 30px;
                            text-transform: capitalize;
                        }

                        .bidSection {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 10px;

                            .bidInput {
                                margin-right: 10px;
                               
                            }

                            .submitBidBtn {
                                height: fit-content;
                                background-color: #3CA93A;
                                height: 30px;
                                text-transform: capitalize;
                            }
                        }

                        .orText {
                            display: flex;
                            align-items: center;
                            margin: 10px 0;

                        }

                        .buyNowBtn {
                            margin-bottom: 10px;
                            background-color: #ffffff;
                            border: 1px solid grey;
                            color: #1768AC;
                            font-size: 16px;
                            text-transform: capitalize;
                            font-weight: 600;
                        }

                        .makeOfferButton {
                            margin-bottom: 10px;
                            background-color: #ffffff;
                            border: 1px solid grey;
                            color: #222222;
                            font-size: 16px;
                            text-transform: capitalize;
                            font-weight: normal;
                        }

                        .remainingTime {
                            margin-top: 10px;
                        }
                    }

                    .productInfoRight {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-bottom: 20px;
                        width: 50%;
                        margin-left: 25px;


                        .watchListBox {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 10px;
                            width: 85%;
                            border-radius: 4px;
                            margin-bottom: 10px;
                            border: 1px solid rgb(206, 206, 206);
                            margin-top: 35px;
                            
                            .addWatchListBtn {
                                margin-top: 10px;
                                text-transform: capitalize;
                            }
                        }

                        .highBidderBox {
                            padding: 10px;
                            width: 85%;
                            border-radius: 4px;
                            margin-bottom: 10px;
                            border: 1px solid rgb(206, 206, 206);
                            margin-top: 15px;

                            
                            .addWatchListBtn {
                                margin-top: 10px;
                            }

                            .highBidder {
                                display: flex;
                                justify-content: flex-start;
                                color: #272B30 !important;
                                font-size: 14px;
                            }

                            .highBidderSecond {
                                display: flex;
                                justify-content: space-between;
                                padding-top: 20px;
                            }
                        }
                    }
                }
            }
        }

        .productExtraInfo {
            width: 750px;
            background-color: rgb(251 247 226);
            border: 1px solid rgb(250, 235, 204);
            float: right;

            padding: 10px;
            border-radius: 5px;
            display: flex;
            // justify-content: space-between;
            text-align: left;
            font-size: 12px;

            // >* {
            //     margin-bottom: 5px;
            // }

            

        }

        
        
    }

    .modalBid {
        background-color: red;

        .modalBidBox {
            background-color: red;

            .modalButtonContainer {
                display: flex;
                justify-content: space-between;
               
        
                .modalButtonSuccess {
                    background-color: #3CA93A !important;
                }
            }
        }
    }

   
}



@media (max-width:768px) {
    .productMain {
        flex-direction: column;
        
        .product-image {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
        .productInfo {
            flex-direction: column;
        }
        .productInfoLeft .productInfoRight {
            margin-right: 0;
            margin-bottom: 20px;
        }
        .or-text {
            flex-direction: column;
            text-align: center;

            span {
                margin: 10px 0;
            }

            hr {
                display: none;
            }
        }
    }
}