.auctionContainer {
  padding: 16px;
}

.auctionTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
}

.auctionDescription {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 2rem;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}
