.auctionContainer {
    // padding: 1rem;
    // margin: 1rem auto;
    // max-width: 1200px;

    .auctionTitle {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 10px;
    }
    .auctionDescription{
        font-size: 1rem;
        line-height: 1.5;
        color: #555;
        margin-bottom: 2rem;
        text-align: justify;
        // padding: 0 2rem;
        padding-left: 15px;
        padding-right: 15px;
    }
}