.headerColor{
    background-color: #1768ac;
    padding:10px 30px 10px 30px;
}
.breadcrumbs {
    margin: 16px 0;
}
.link{
    a{

    color: white  !important;
    text-decoration: none  !important;
    font-size:16px !important
    }
}
.searchBtn{
    margin-left: 60px !important;
}
.divider{
    margin-right: 20px  !important;
    margin-left: 20px !important;
    border-color: white !important;
    border-width: 1px  !important
}
