.headerColor{
    background-color: #1768ac;
    padding:30px
}
.breadcrumbs {
    margin: 16px 0;
}
.link{
    a{

    color: white  !important;
    text-decoration: none  !important;
    font-size:16px !important
    }
}
.searchBtn{
    margin-left: 60px !important;
}
.divider{
    margin-right: 3px;
    margin-left: 3px;
    border-color: white;
    border-width: 1px
}
