.title{
              background-color: #dfdfdf !important;
              font-weight: bold Imp !important;
              font-size: 16px !important;
              text-align:left !Important
}

.container{
    border:1px solid grey
}
.text{
    text-align: left;
    span {
        color:red;
        margin-left:2px
    }
}

.footer{
    margin:30px 0px 0px 80px
}
.footerText{
     color: #828282;
     text-align:left  
}