.box {
    padding-left: 55px;
    padding-top: 10px;
    ;
}

.title {
    background-color: #dfdfdf !important;
    font-size: 16px !important;
    text-align: left !Important;

}

.container {
    border: 1px solid grey;
    margin-top: 20px !important;
    margin-left: 15px;
    margin-right: 25px;
}

.text {
    text-align: left;

    span {
        color: red;
        margin-left: 2px
    }
}

.footer {
    margin: 10px 0px 10px 50px
}

.footerText {
    color: #828282;
    text-align: left;
    margin: 0;
}


.mainContainer {
    padding-left: 0px !important;
    padding-right: 0px !important;

    .box1 {
        margin-top: 10px;
        margin-left: 10px;
    }

}

.disclaimer {
    text-align: center !important;
    margin-bottom: 25px !important;
    margin-top: -10px !important;
}