.title{
              background-color: #dfdfdf !important;
              font-weight: bold !important;
              font-size: 16px !important;
              text-align:left !Important;
}

.container{
    border:1px solid grey;
    margin-top: 20px !important;
}
.text{
    text-align: left;
    span {
        color:red;
        margin-left:2px
    }
}

.footer{
    margin:30px 0px 0px 80px
}
.footerText{
     color: #828282;
     text-align:left  
}


.mainContainer{
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.disclaimer{
    text-align: center !important;
    margin-bottom: 25px !important;
    margin-top: -10px !important;
}