.container{
    padding: 20px;
}

.sidebar{
    margin-right: 20px;
    padding-top: 20px;
    
}
.scrollable {
    max-height: 200px;
    overflow-y: auto;
}

.item {
    padding: 20px;
    text-align: center;
    position: relative;
    // image-rendering: auto;
}

.expired {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.quickBid {
    background-color: red;
    color: white;
    margin-top: 10px;
    border: none;
    &:hover{
        background-color: darkred;
    }
}

img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    }

.breadcrumb{
    margin-bottom: 20px;
}

.itemImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.nested {
    padding-left: 30px;
}