.container {
    // padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
    .breadcrumb{
        padding: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-decoration: none;
        cursor: pointer;
    }
}