.container {
    // padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
    .breadcrumbs{
        margin-bottom: 15px;
        margin-top: 15px;
        text-decoration: none;
        
    }
}