.sidebarxCategories{
    // margin-right: 20px;
    // padding-top: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    max-height: 500px;
    overflow-y: auto;
    .sidebarCategoriesContent{
        // margin-top: 20px;
        margin-bottom: 20px;
        background-color: #D9D9D9;
        // padding: 10px;
        height: 50px;
        text-align: center;
    }
    
}
.sidebarxRegions{
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
    .sidebarRegionsContent{
        // margin-top: 20px;
        margin-bottom: 20px;
        background-color: #D9D9D9;
        // padding: 10px;
        height: 50px;
        text-align: center;
    }
}