.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 130vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.sidebarxCategories {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .sidebarCategoriesContent {               
      margin-bottom: 5px;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: rgb(230, 230, 230);
      height: 30px;
      text-align: center;
      cursor: pointer;
  }

  .scrollable {
      max-height: calc(65vh - 40px);
      overflow-y: auto;  
      .nested{
        padding-left: 30px;
      }
  }
}

.sidebarxRegions {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;

  .sidebarRegionsContent {        
      margin-bottom: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: rgb(230, 230, 230);
      height: 30px;
      text-align: center;
  }

  .scrollable {
      max-height: calc(65vh - 40px);
      overflow-y: auto;  
      .nested{
        padding-left: 30px;
      }
  }
}