.sidebarxCategories{
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;     
    max-height: 500px;
    overflow-y: auto;
    
    .sidebarCategoriesContent{               
        margin-bottom: 20px;
        background-color: #D9D9D9;
        height: 40px;
        text-align: center;
        padding-top: 10px;           
    }
    
}
.sidebarxRegions{
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
    .sidebarRegionsContent{        
        margin-bottom: 20px;
        background-color: #D9D9D9;       
        height: 40px;
        text-align: center;
    }
}