.sidebarxCategories{
    // margin-right: 20px;
    // padding-top: 20px;
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    
    // justify-content: center;
    // align-items: center;
    max-height: 500px;
    overflow-y: auto;
    .sidebarCategoriesContent{
        margin-bottom: 20px;
        background-color: #D9D9D9;
        height: 40px;
        text-align: center;
        padding-top: 10px;

        // position: sticky;
        // height: 60px;
        // background-color: #D9D9D9;
        // z-index: 1000;
    
    }
    
}
.sidebarxRegions{
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
    .sidebarRegionsContent{
        // margin-top: 20px;
        margin-bottom: 20px;
        background-color: #D9D9D9;
        // padding: 10px;
        height: 50px;
        text-align: center;
    }
}