.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 130vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.sidebarxCategories {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .sidebarCategoriesContent {               
      margin-bottom: 10px;
      background-color: #D9D9D9;
      height: 40px;
      text-align: center;
      cursor: pointer;
  }

  .scrollable {
      max-height: calc(65vh - 40px);
      overflow-y: auto;  
  }
}

.sidebarxRegions {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;

  .sidebarRegionsContent {        
      margin-bottom: 10px;
      background-color: #D9D9D9;       
      height: 40px;
      text-align: center;
  }

  .scrollable {
      max-height: calc(65vh - 40px);
      overflow-y: auto;  
  }
}